<div class="box main-panel">
	<%= render "shared/main_menu" %>

	<div class="main-container">
		<%= flash_message %>

		<div class="row">
			<div class="col">
				<header class="container-header">
					<h1 class="header-title">Lista de <span>equipamentos</span></h1>

					<div class="right-content">
						<%= link_to "#", alt: "Filtrar dados", title: "Filtrar dados", class: "btn icon enable-filters" do %><span class="material-icons md-16 md-light">search</span>Filtro avançado<% end %>
						<%= link_to new_stuff_path, class: "btn-success icon" do %><span class="material-icons md-16 md-light">add</span>Cadastrar equipamento<% end %>
					</div>
				</header>
			</div>
		</div>

		<%= form_tag(stuffs_path, method: :get, class: "filters form") do %>
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-12">
					<div class="custom-select">
						<%= select_tag :limit, options_for_select(["5", "10", "20", "50", "100"], selected: params[:limit]), include_blank: "Itens por página..." %>
					</div>
				</div>

				<div class="col-12 col-sm-6 col-lg-3">
					<div class="search" id="autocomplete-category">
						<%= search_field_tag :id, params[:id], placeholder: "Número da OS" %>
					</div>
				</div>

				<div class="col-12 col-sm-6 col-lg-3">
					<div class="search" id="autocomplete-patrimony">
						<%= autocomplete_field_tag :patrimony, params[:patrimony], autocomplete_stuff_patrimony_orders_path, placeholder: "Patrimônio", append_to: "#autocomplete-patrimony",'data-showNoMatches' => false, title: "Digite S/P para pesquisar OS sem patrimônio" %>
					</div>
				</div>

				<div class="col-12 col-sm-6 col-lg-3">
					<div class="search" id="autocomplete-category">
						<%= search_field_tag :category, params[:category], placeholder: "Categoria. Ex.: PC, impressora, monitor.." %>
						<% list_categories.each do |category| %>
					    <%= content_tag :div, category, class: "search_list list_categories" %>
						<% end %>
					</div>
				</div>

				<div class="col-12 col-sm-6 col-lg-3">
					<div class="search" id="autocomplete-brand">
						<%= search_field_tag :brand, params[:brand], placeholder: "Marca/modelo. Ex.: Acer, Dell, Positivo.." %>
						<% list_brands.each do |brand| %>
					    <%= content_tag :div, brand, class: "search_list list_brands" %>
						<% end %>
					</div>
				</div>

				<div class="col-12 col-sm-6 col-lg-3">
					<div class="search" id="autocomplete-name">
						<%= autocomplete_field_tag :name, params[:name], autocomplete_school_name_schools_path, placeholder: "Nome da unidade", append_to: "#autocomplete-name",'data-showNoMatches' => false %>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-12 text-center">
					<%= link_to stuffs_path, class: "btn-cancel" do %>Limpar filtros<% end %>
				</div>
			</div>

			<%= submit_tag ("Buscar") %>
		<% end %>

		<%= content_tag :p, "<strong class='m-r-5'>Resultados da busca:</strong> #{@stuffs.length} equipamento(s) encontrado(s).".html_safe, class: "flash flash-search inline m-b-0 m-t-25" unless @search.all?(&:blank?) %>

		<div class="row">
			<div class="col">
				<section class="container-body">
					<% unless @stuffs_paginate.nil? || @stuffs_paginate.blank? %>
						<ul class="responsive-table">
							<li class="table-header">
								<div class="table-col table-col-5"><%= link_to("#", request.params.merge(sort_by: "id"), class: ("active" if params[:sort_by] == "id")) %></div>
								<div class="table-col table-col-10"><%= link_to("Patrimônio", request.params.merge(sort_by: "patrimony"), class: ("active" if params[:sort_by] == "patrimony")) %></div>
								<div class="table-col table-col-20"><%= link_to("Categoria", request.params.merge(sort_by: "category"), class: ("active" if params[:sort_by] == "category")) %></div>
								<div class="table-col table-col-15"><%= link_to("Marca/Modelo", request.params.merge(sort_by: "brand"), class: ("active" if params[:sort_by] == "brand")) %></div>
								<%= content_tag :div, class: "table-col table-col-40" do %><%= link_to("Unidade", request.params.merge(sort_by: "schools.name_ascii"), class: ("active" if params[:sort_by] == "schools.name_ascii")) %><% end unless is_school?(current_user) %>
								<div class="table-col table-col-10"><div class="options">Opções</div></div>
							</li>

							<% @stuffs_paginate.each do |s| %>
								<li class="table-row">
									<div class="table-col table-col-5" data-label="#"><strong><%= s.id.to_s.rjust(3, '0') %></strong></div>
									<div class="table-col table-col-10" data-label="Patrimônio"><%= s.patrimony.presence || "S/P" %></div>
									<div class="table-col table-col-20" data-label="Categoria">
										<% if s.category == 'PC/Notebook' %>
											<%= content_tag :span, "done", title: "Padrão OK", class: "material-icons md-16 md-light m-r-5", style: "color: green" if s.defaulted == "Sim" %>
											<%= content_tag :span, "close", title: "Necessária padronização", class: "material-icons md-16 md-light m-r-5", style: "color: red" if s.defaulted == "Não" %>
										<% end %>
										<%= s.category %>
									</div>
									<div class="table-col table-col-15" data-label="Marca/Modelo"><%= s.brand %></div>
									<%= content_tag :div, s.school.name, class: "table-col table-col-40", "data-label": "Unidade" unless is_school?(current_user) %>
									<div class="table-col table-col-10">
										<div class="options">
											<%= link_to stuff_path(s), alt: "Ver detalhes", title: "Ver detalhes", class: "btn-icon" do %><span class="material-icons md-20">visibility</span><% end %>
						          <%= link_to edit_stuff_path(s), alt: "Editar", title: "Editar", class: "btn-icon" do %><span class="material-icons md-20">edit</span><% end %>
						          <%= link_to destroy_stuff_path(s), alt: "Excluir", title: "Excluir", method: :delete, data: { confirm: "Tem certeza? Essa ação é irreversível." }, class: "btn-icon" do %><span class="material-icons md-20">delete</span><% end %>
										</div>
									</div>
								</li>
							<% end %>
						</ul>

						<%= paginate @stuffs_paginate %>	
					<% else %>
						<h3 class="text-center m-t-50"><i>Nenhum equipamento encontrado.</i></h3>
					<% end %>
				</section>
			</div>
		</div>
	</div>
</div>