<div class="box main-panel">
  <%= render "shared/main_menu" %>

  <div class="main-container">
    <%= flash_message %>

    <div class="row">
      <div class="col">
        <header class="container-header">
          <h1 class="header-title">Trocar <%= "minha" if current_user == @user %> <span>senha</span></h1>

          <div class="actions">
            <%= link_to "#", onclick: "$('.form').submit()", data: { disable_with: "Aguarde..." }, class: "btn-success icon" do %><span class="material-icons md-16 md-light">done</span>Salvar<% end %>
            <%= link_to :back, class: "btn-cancel icon" do %><span class="material-icons md-16">undo</span>Voltar<% end %>
          </div>
        </header>
      </div>
    </div>

    <section class="container-body">
      <div class="row">
        <div class="col-12 col-sm-6">
          <% unless current_user == @user %><h3 class="username m-b-25">Usuário: <%= content_tag :span, @user.user_level == 1 ? @user.school.name : @user.name %></h3><% end %>
        </div>
      </div>

      <%= simple_form_for @user, url: edit_user_password_path, html: { class: "form" } do |f| %>
        <div class="row">
          <div class="col-12 col-sm-6">
            <div class="input">
              <%= content_tag :label, "Senha atual", for: "current_password", class: "form-label" %>
              <%= password_field_tag :current_password, params[:current_password], id: "current_password", placeholder: "**********" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-sm-6">
            <%= f.input :password, label: "Nova senha", label_html: { class: "form-label" }, hint: ("mínimo de #{@minimum_password_length} caracteres" if @minimum_password_length), input_html: { placeholder: "**********"} %>
          </div>
        </div>
        
        <div class="row">
          <div class="col-12 col-sm-6">
            <%= f.input :password_confirmation, label: "Confirme sua senha", label_html: { class: "form-label" }, input_html: { placeholder: "**********"} %>
          </div>
        </div>

        
      <% end %>
    </section>
  </div>
</div>
