<div class="box main-panel">
  <%= render "layouts/main_menu" %>

  <div class="container main-container">
    <header class="container-header">
      <h1 class="header-title">Trocar minha <span>senha</span></h1>
    </header>

    <section class="container-body">
      <%= simple_form_for @user, url: edit_user_password_path, html: { class: "form" } do |f| %>
        <div class="row">
          <div class="col-4 col-md-6 col-sm-12">
            <%= f.input :password, label: "Senha", label_html: { class: "form-label" }, hint: ("mínimo de #{@minimum_password_length} caracteres" if @minimum_password_length), input_html: { placeholder: "**********"} %>
          </div>
        </div>
        
        <div class="row">
          <div class="col-4 col-md-6 col-sm-12">
            <%= f.input :password_confirmation, label: "Confirme sua senha", label_html: { class: "form-label" }, input_html: { placeholder: "**********"} %>
          </div>
        </div>

        <div class="actions m-t-50">
          <%= link_to "#", onclick: "$('.form').submit()", data: { disable_with: "Aguarde..." }, class: "btn-success icon save" do %>Salvar<% end %>
          <%= link_to profile_path, class: "btn-cancel icon back" do %>Voltar<% end %>
        </div>
      <% end %>
    </section>
  </div>
</div>
