<div class="box main-panel">
	<%= render "shared/main_menu" %>

	<div class="main-container">
		<%= flash_message %>

		<div class="row">
			<div class="col">
				<header class="container-header">
					<h1 class="header-title">Lista de <span>usuários</span></h1>

					<div class="right-content">
						<%= link_to "#", alt: "Filtrar dados", title: "Filtrar dados", class: "btn icon enable-filters" do %><span class="material-icons md-16 md-light">search</span>Filtro avançado<% end %>
						<%= link_to new_user_path, class: "btn-success icon" do %><span class="material-icons md-16 md-light">add</span>Cadastrar usuário<% end %>
					</div>
				</header>
			</div>
		</div>

		<%= form_tag(users_path, method: :get, class: "filters form") do %>
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-12">
					<div class="custom-select">
						<%= select_tag :limit, options_for_select(["5", "10", "20", "50", "100"], selected: params[:limit]), include_blank: "Itens por página..." %>
					</div>
				</div>
				
				<div class="col-12 col-sm-6 col-lg-3">
					<div class="search" id="autocomplete-name">
						<%= autocomplete_field_tag :name, params[:name], autocomplete_user_name_users_path, placeholder: "Nome", append_to: "#autocomplete-name",'data-showNoMatches' => false %>
					</div>
				</div>

				<div class="col-lg-3 col-md-6 col-sm-12">
					<div class="search">
						<%= search_field_tag :email, params[:email], placeholder: "E-mail" %>
					</div>
				</div>

				<div class="col-lg-3 col-md-6 col-sm-12">
					<div class="search">
						<%= search_field_tag :username, params[:username], placeholder: "Nome de usuário" %>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-12 text-center">
					<%= link_to users_path, class: "btn-cancel" do %>Limpar filtros<% end %>
				</div>
			</div>

			<%= submit_tag ("Buscar") %>
		<% end %>

		<%= content_tag :p, "<strong class='m-r-5'>Resultados da busca:</strong> #{@users.length} usuário(s) encontrado(s).".html_safe, class: "flash flash-search inline m-b-0 m-t-25" unless @search.all?(&:blank?) %>

		<div class="row">
			<div class="col">
				<section class="container-body">
					<% unless @users_paginate.nil? || @users_paginate.blank? %>
						<ul class="responsive-table">
							<li class="table-header">
								<div class="table-col table-col-5"><%= link_to("#", request.params.merge(sort_by: "id"), class: ("active" if params[:sort_by] == "id")) %></div>
								<div class="table-col table-col-20"><%= link_to("Nome", request.params.merge(sort_by: "name"), class: ("active" if params[:sort_by] == "name")) %></div>
								<div class="table-col table-col-20"><%= link_to("Nome de usuário", request.params.merge(sort_by: "username"), class: ("active" if params[:sort_by] == "username")) %></div>
								<div class="table-col table-col-45"><%= link_to("E-mail", request.params.merge(sort_by: "email"), class: ("active" if params[:sort_by] == "email")) %></div>
								<div class="table-col table-col-10"><div class="options">Opções</div></div>
							</li>

							<% @users_paginate.each do |u| %>
								<li class="table-row">
									<div class="table-col table-col-5" data-label="#"><strong><%= u.id.to_s.rjust(3, '0') %></strong></div>
									<div class="table-col table-col-20" data-label="Nome"><%= u.name %></div>
									<div class="table-col table-col-20" data-label="Nome de usuário"><%= u.username %></div>
									<div class="table-col table-col-45" data-label="E-mail"><%= u.email %></div>
									<div class="table-col table-col-10">
										<div class="options">
											<%= link_to user_path(u), alt: "Ver detalhes", title: "Ver detalhes", class: "btn-icon" do %><span class="material-icons md-20">visibility</span><% end %>
						          <%= link_to edit_user_path(u), alt: "Editar", title: "Editar", class: "btn-icon" do %><span class="material-icons md-20">edit</span><% end %>
						          <%= link_to destroy_user_path(u), alt: "Excluir", title: "Excluir", method: :delete, data: { confirm: "Tem certeza? Essa ação é irreversível." }, class: "btn-icon" do %><span class="material-icons md-20">delete</span><% end %>
										</div>
									</div>
								</li>
							<% end %>
						</ul>

						<%= paginate @users_paginate %>	
					<% else %>
						<h3 class="text-center m-t-50"><i>Nenhum usuário encontrado.</i></h3>
					<% end %>
				</section>
			</div>
		</div>
	</div>
</div>