<section class="container-body">
	<div class="row">
		<div class="col-3">
			<div class="feature-card last-month">
				<h1><%= @orders_last_month %></h1>
				<p><%= l(Time.now - 1.month, format: '%B') %></p>
			</div>
		</div>

		<div class="col-3">
			<div class="feature-card last-2-months">
				<h1><%= @orders_last_2_months %></h1>
				<p><%= l(Time.now - 2.month, format: '%B') %></p>
			</div>
		</div>

		<div class="col-3">
			<div class="feature-card last-3-months">
				<h1><%= @orders_last_3_months %></h1>
				<p><%= l(Time.now - 3.month, format: '%B') %></p>
			</div>
		</div>

		<div class="col-3">
			<div class="feature-card last-4-months">
				<h1><%= @orders_last_4_months %></h1>
				<p><%= l(Time.now - 4.month, format: '%B') %></p>
			</div>
		</div>
	</div>

	<div class="row schools-orders-cards">
		<h1 class="schools-orders-cards-title">Atendimentos por unidade nos últimos <span>3 meses</span></h1>

		<% @schools.each do |s| %>
			<div orders-count=<%= s.orders.count %> class="school-order-card col-12 col-md-6">
				<div class="content">
					<div class="title"><%= s.usual_name %></div>
					<div class="text"><%= s.full_name %></div>
				</div>
			</div>
		<% end %>
	</div>

	<div class="row m-t-25">
		<div class="col-12">
			<div class="card">
				<header class="card-header">
					<h1 class="card-title">Últimas atualizações</h1>
				</header>

				<% unless @last_orders.nil? || @last_orders.blank? %>
					<div class="card-body">
						<ul class="responsive-table">
							<li class="table-header">
								<div class="table-col table-col-5">#</div>
								<div class="table-col table-col-<%= is_school?(current_user) ? "20" : "15" %>">Status</div>
								<% unless is_school?(current_user) %><div class="table-col table-col-20">Unidade</div><% end %>
								<div class="table-col table-col-<%= is_school?(current_user) ? "45" : "30" %>">Defeito apresentado</div>
								<div class="table-col table-col-20">Atualizada em</div>
								<div class="table-col table-col-10"><div class="options">Opções</div></div>
							</li>

							<% @last_orders.each do |o| %>
								<li class="table-row">
									<div class="table-col table-col-5" data-label="#"><strong><%= o.id.to_s.rjust(3, '0') %></strong></div>
									<div class="table-col table-col-<%= is_school?(current_user) ? "20" : "15" %>" data-label="Status" data-status="<%= get_status(o.status) %>"><%= o.status %></div>

									<% unless is_school?(current_user) %>
										<div class="table-col table-col-20" data-label="Unidade" title="<%= o.school.full_name %>">
											<%= link_to o.school.usual_name, school_path(o.school_id) %>
										</div>
									<% end %>

									<div class="table-col table-col-<%= is_school?(current_user) ? "45" : "30" %>" data-label="Defeito apresentado">
										<div class="order-defect limited-text">
											<%= o.defect.to_s.html_safe %>	
										</div>
									</div>
									<div class="table-col table-col-20" data-label="Atualizada em">
										<%= content_tag :span do %>
											<%= "#{o.updated_at.strftime("%d/%m/%Y")} por " %>
											<%= link_to order_creator(o.updated_by), is_school?(User.find(o.updated_by)) ? school_path(o.school_id) : user_path(o.updated_by), class: "link"  %><br />
											<%= o.updated_at.strftime("%H:%M") %>
										<% end %>
									</div>
									<div class="table-col table-col-10" data-label="Opções">
										<div class="options">
						          <%= link_to order_path(o), alt: "Ver detalhes", title: "Ver detalhes", class: "btn-icon" do %><span class="material-symbols-outlined md-20">visibility</span><% end %>
										</div>
									</div>
								</li>
							<% end %>
						</ul>
					</div>
				<% else %>
					<h3 class="text-center m-t-25 p-b-50"><i>Não há dados cadastrados.</i></h3>
				<% end %>
			</div>
		</div>
	</div>

	<div class="row m-t-25">
		<div class="col-12 col-md-6">
			<div class="card" data-bg="orange">
				<header class="card-header">
					<h1 class="card-title">Ordens de serviço abertas nos últimos 30 dias</h1>
				</header>
				<div class="card-body">
					<%= line_chart Order.group_by_day(:created_at, last: 30, format: "%d %b").count %>
				</div>
			</div>
		</div>

		<div class="col-12 col-md-6">
			<div class="card" data-bg="blue">
				<header class="card-header">
					<h1 class="card-title">Ordens de serviço atendidas nos últimos 30 dias</h1>
				</header>
				<div class="card-body">
					<%= line_chart Order.where(status: ["Em manutenção", "Para retirada", "Concluído"]).group_by_day(:updated_at, last: 30, format: "%d %b").count %>
				</div>
			</div>
		</div>
	</div>

	<div class="row m-t-25">
		<div class="col-12 col-md-6">
			<div class="card" data-bg="purple">
				<header class="card-header">
					<h1 class="card-title">Atendimentos na semana</h1>
				</header>
				<div class="card-body">
					<%= line_chart @users.map { |user|
					    {name: user.first_name, data: Order.where("maintenance_technicians LIKE ?", "%#{user.id}%").group_by_day(:updated_at, last: 7, format: "%d %b").count}
					} %>
				</div>
			</div>
		</div>

		<div class="col-12 col-md-6">
			<div class="card" data-bg="dark-blue">
				<header class="card-header">
					<h1 class="card-title">Atendimentos por técnico nos últimos 30 dias</h1>
				</header>
				<div class="card-body">
					<%= column_chart orders_per_user(@orders, @users) %>
				</div>
			</div>
		</div>
	</div>
</section>