<div class="box main-panel">
	<%= render "layouts/main_menu" %>

	<div class="container main-container">
		<%= flash_message %>

		<header class="container-header">
			<div class="left-content">
				<%= form_tag(orders_path, method: :get) do %>
					<div class="search">
						<%= text_field_tag(:search, params[:search], placeholder: "Insira o número de patrimônio") %>
						<%= submit_tag ("Buscar") %>
					</div>
				<% end %>

				<%= form_tag(orders_path, method: :get) do %>
					<div class="sp">
						<%= hidden_field_tag(:sp, params[:sp]) %>
						<%= submit_tag ("Sem patrimônio") %>
					</div>
				<% end %>
			</div>

			<div class="right-content">
				<div class="action-buttons">
					<%= link_to image_tag("icons/grid.png"), "#", class: "as-grid btn-icon" %>
					<%= link_to image_tag("icons/list.svg"), "#", class: "as-list btn-icon" %>
					<%= link_to image_tag("icons/filter.svg"), "#", class: "btn-icon" %>
				</div>
				<%= link_to "Abrir chamado", new_order_path, class: "btn" %>
			</div>
		</header>

		<section class="container-body">
			<% if @orders.nil? || @orders.blank? %>
				<h3 class="text-center">Nenhum chamado encontrado.</h3>
			<% else %>
				<% list_status.each do |status| %>
					<%= render "order_card", orders: @orders.where(status: status), status: status.downcase %>
				<% end %>
			<% end %>
		</section>
	</div>
</div>