<div class="box main-panel">
	<%= render "layouts/main_menu" %>

	<div class="container main-container">
		<%= flash_message %>

		<header class="container-header">
			<div class="left-content">
				<%= form_tag(orders_path, method: :get) do %>
					<div class="search">
						<%= text_field_tag(:search, params[:search], placeholder: "Insira o número de patrimônio") %>
						<%= submit_tag ("Buscar") %>
					</div>
				<% end %>
			</div>

			<div class="right-content">
				<div class="action-buttons">
					<%= link_to image_tag("icons/grid.png"), "#", class: "as-grid btn-icon" %>
					<%= link_to image_tag("icons/list.svg"), "#", class: "as-list btn-icon" %>
					<div class="options">
						<%= link_to image_tag("icons/filter.svg"), "#", alt: "Filtrar", title: "Filtrar", class: "btn-icon options-btn" %>
						<ul>
							<li>
								<%= form_tag(orders_path, method: :get) do %>
									<div class="sp">
										<%= hidden_field_tag(:sp, params[:sp]) %>
										<%= submit_tag ("Equipamentos sem patrimônio") %>
									</div>
								<% end %>
							</li>
						</ul>
					</div>
				</div>
				<%= link_to "Abrir chamado", new_order_path, class: "btn-success" %>
			</div>
		</header>

		<%= content_tag :i, "Resultados da busca: #{@orders.length} chamado(s) encontrados.", class: "flash notice m-b-0" if params[:search] || params[:sp] %>

		<% unless @orders.nil? || @orders.blank? %>
			<section class="container-body">
				<% list_status.each do |status| %>
					<%= render "order_card", orders: @orders.where(status: status), status: status.downcase %>
				<% end %>
			</section>
		<% else %>
			<h3 class="text-center m-t-25"><i>Nenhum dado encontrado.</i></h3>
		<% end %>
	</div>
</div>