<div class="box main-panel">
	<%= render "layouts/main_menu" %>

	<div class="container main-container">
		<%= flash_message %>

		<header class="container-header">
			<div class="left-content">

			</div>

			<div class="right-content">
				<div class="action-buttons">
					<%= link_to image_tag("icons/grid.png"), "#", class: "as-grid btn-icon" %>
					<%= link_to image_tag("icons/list.svg"), "#", class: "as-list btn-icon" %>
					<div class="options">
						<%= link_to image_tag("icons/filter.svg"), "#", alt: "Filtrar", title: "Filtrar", class: "btn-icon options-btn" %>
						<ul>
							<li><%= link_to "Chamados sem patrimônio", sp: true %></li>
						</ul>
					</div>
				</div>
				<%= link_to "Abrir chamado", new_order_path, class: "btn-success" %>
			</div>
		</header>

		<%= form_tag(orders_path, method: :get, class: "filters") do %>
			<div class="search" id="autocomplete-patrimony">
				<%= autocomplete_field_tag :s_patrimony, params[:s_patrimony], autocomplete_stuff_patrimony_orders_path, placeholder: "Patrimônio", append_to: "#autocomplete-patrimony",
'data-noMatchesLabel' => "Nenhum equipamento encontrado" %>
			</div>

			<div class="search">
				<%= text_field_tag :s_spot, params[:s_spot], placeholder: "Local de instalação. Ex.: secretaria, direção, lab..." %>
			</div>

			<div class="search">
				<%= text_field_tag :s_category, params[:s_category], placeholder: "Categoria. Ex.: PC, impressora, monitor.." %>
			</div>

			<div class="search">
				<%= text_field_tag :s_brand, params[:s_brand], placeholder: "Marca/modelo. Ex.: Acer, Dell, Positivo.." %>
			</div>

			<%= submit_tag ("Buscar") %>
		<% end %>

		<%= content_tag :i, "Resultados da busca: #{@orders.length} chamado(s) encontrados.", class: "flash notice m-b-0 m-t-25" if params %>

		<% unless @orders.nil? || @orders.blank? %>
			<section class="container-body">
				<% list_status.each do |status| %>
					<%= render "order_card", orders: @orders.where(status: status), status: status.downcase %>
				<% end %>
			</section>
		<% else %>
			<h3 class="text-center m-t-25"><i>Nenhum dado encontrado.</i></h3>
		<% end %>
	</div>
</div>