<div class="box main-panel">
	<%= render "shared/main_menu" %>

	<div class="main-container">
		<%= flash_message %>
		
		<div class="row">
			<div class="col">
				<header class="container-header">
					<h1 class="header-title">Ordem de <span>serviço</span></h1>

					<div class="actions text-center">
		        <%= link_to print_order_path(@order), target: "_blank", class: "btn-warning icon" do %><span class="material-symbols-outlined md-16 md-light">print</span>Imprimir OS<% end %>
		        <%= link_to edit_order_path(@order), class: "btn-info icon" do %><span class="material-symbols-outlined md-16 md-light">edit</span>Editar OS<% end %>
		        <%= link_to :back, class: "btn-cancel icon" do %><span class="material-symbols-outlined md-16">undo</span>Voltar<% end %>
		        <%= link_to destroy_order_path(@order), method: :delete, data: { confirm: "Tem certeza? Essa ação é irreversível." }, class: "btn-alert icon" do %><span class="material-symbols-outlined md-16 md-light">close</span>Cancelar OS<% end %>
		      </div>
				</header>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<section class="container-body">
		  		<section>
		  			<h3 class="m-b-25">
		  				<%= "OS ##{@order.id.to_s.rjust(3, '0')}" %>
		  			</h3>

		  			<% if is_admin?(current_user) %>
			  			<%= content_tag :dl do %>
			    			<%= content_tag :dt, "Unidade" %>
			  				<%= content_tag :dd do %>
			  					<%= link_to school_path(@order.school), class: "link flex" do %>
			  						<%= @order.school.name %> <span class="material-symbols-outlined md-16">open_in_new</span>
			  					<% end %>
			  				<% end %>
			  			<% end %>
		  			<% end %>

		  			<%= content_tag :dl do %>
		    			<%= content_tag :dt, "Solicitante" %>
		  				<%= content_tag :dd, @order.requester %>
		  			<% end %>

		  			<%= content_tag :dl do %>
		    			<%= content_tag :dt, "Contato" %>
		  				<%= content_tag :dd, @order.school.phone %>
		  			<% end %>
		  		</section>
		      		
		  		<section>
		  			<h3 class="m-b-25">Informações do equipamento</h3>

		      	<%= content_tag :dl do %>
		    			<%= content_tag :dt, "Categoria" %>
		  				<%= content_tag :dd, @order.stuff.category %>
		  			<% end %>

		      	<%= content_tag :dl do %>
		    			<%= content_tag :dt, "Patrimônio/Nº série" %>
		    			<% if @order.stuff.patrimony == "" %>
		  					<%= content_tag :dd, get_patrimony(@order.stuff.patrimony) %>
		    			<% else %>
			    			<%= content_tag :dd do %>
			  					<%= link_to stuff_path(@order.stuff), class: "link flex" do %>
			  						<%= get_patrimony(@order.stuff.patrimony) %> <span class="material-symbols-outlined md-16">open_in_new</span>
			  					<% end %>
			  				<% end %>
		  				<% end %>
		  			<% end %>

		      	<%= content_tag :dl do %>
		    			<%= content_tag :dt, "Marca/modelo" %>
		  				<%= content_tag :dd, @order.stuff.brand %>
		  			<% end %>

		      	<%= content_tag :dl do %>
		    			<%= content_tag :dt, "Local de instalação" %>
		  				<%= content_tag :dd, @order.spot %>
		  			<% end %>

		      	<%= content_tag :dl do %>
		    			<%= content_tag :dt, "Defeito apresentado" %>
		  				<%= content_tag :dd, @order.defect.to_s.html_safe, class: "html-safe" %>
		  			<% end %>
		  		</section>

		  		<section>
		  			<h3 class="m-b-25">Relatório</h3>

		  			<%= content_tag :dl do %>
		    			<%= content_tag :dt, "Status" %>
		  				<%= content_tag :dd, @order.status %>
		  			<% end %>

		  			<%= content_tag :dl do %>
		    			<%= content_tag :dt, "Tipo de OS" %>
		  				<%= content_tag :dd, @order.o_type %>
		  			<% end %>

		      	<%= content_tag :dl do %>
		    			<%= content_tag :dt, "Foi feito backup?" %>
		  				<%= content_tag :dd, @order.backup %>
		  			<% end %>

		  			<%= content_tag :dl do %>
		    			<%= content_tag :dt, "O equipamento está padronizado?" %>
		  				<%= content_tag :dd, @order.stuff.defaulted %>
		  			<% end %>

		      	<%= content_tag :dl do %>
		    			<%= content_tag :dt, "Serviço realizado" %>
		  				<%= content_tag :dd, @order.performed_service.to_s.html_safe, class: "html-safe" %>
		  			<% end %>

		      	<%= content_tag :dl do %>
		    			<%= content_tag :dt, "Observações" %>
		  				<%= content_tag :dd, @order.obs.to_s.html_safe, class: "html-safe" %>
		  			<% end %>
		  		</section>

		  		<% if !@order.start_date.nil? && @order.removal_technicians.length > 1 %>
		    		<%= content_tag :p, class: "m-t-15 text-center removal-msg" do %>
		  				<%= "Retirado em <strong>#{@order.start_date.strftime("%d/%m/%Y")}</strong> por <strong>#{get_user(@order.removal_technicians)}</strong>".html_safe %>
		  			<% end %>
					<% end %>

		  		<%= content_tag :p, class: "m-t-15 text-center maintenance-msg" do %>
						<%= "Manutenção feita por <strong>#{get_user(@order.maintenance_technicians)}</strong> em <strong>#{@order.end_date.strftime("%d/%m/%Y")}</strong>".html_safe if @order.maintenance_technicians.length > 1 && !@order.end_date.nil? %>
					<% end if  %>

					<%= content_tag :p, class: "m-t-15 text-center maintenance-msg" do %>
						<%= order_updated_at(@order.updated_at, @order.updated_by) %>
					<% end %>
				</section>
			</div>
		</div>
	</div>
</div>
