<div class="box login-panel">
  <div class="left-container">
    <%= link_to image_tag("logo-taubate.png"), "https://taubate.sp.gov.br/", target: "_blank", class: 'logo-pref-taubate' %>
    <%= link_to image_tag("logo-sec-educacao.png"), "https://taubate.sp.gov.br/educacao/", target: "_blank", class: 'logo-sec-educacao' %>
  </div>

  <div class="right-container">
    <%= image_tag("logo-dti-branco.png", class: 'logo-dti m-b-50') %>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form" }) do |f| %>
      <%= flash_message %>

      <%= f.input :username, as: :email, required: false, label: "Login ou e-mail", placeholder: "exemplo@email.com", autofocus: true, label_html: { class: "form-label" } %>
      <%= f.input :password, required: false, label: "Senha", placeholder: "* * * * * * * * * *", label_html: { class: "form-label" }  %>

      <div class="form-options">
        <div class="left-content">
          <%= f.input :remember_me, label: "Lembrar", as: :boolean if devise_mapping.rememberable? %>
        </div>
        <div class="right-content">
          <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <%= link_to "Esqueceu sua senha?", new_password_path(resource_name), class: "link" %><br />
          <% end -%>
        </div>
      </div>

      <%= f.submit "Entrar", data: { disable_with: "Entrando..." }, class: "btn btn-cancel" %>
    <% end %>

    <span class="divider">Ou</span>

    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
      <p class="sign-up">Novo por aqui? <%= link_to "Criar conta", new_registration_path(resource_name), class: "link" %></p>
    <% end -%>
  </div>
</div>
